<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 mt-4">
      <%= render 'header' %>
      <%= render 'main' %>
      <%= link_to "To the top", "/#", class: "btn btn-outline-primary w-100 mb-4" %>
    </div>
    <div class="col">
    </div>
  </div>  
</div>
